@font-face {
font-family: "PixelifySansRegular";
src: url("../fonts/PixelifySansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    margin: 0;
}
nav {
    background-color: #3D9AD1;
    height: 80px;
    width: 98%;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* горизонтальное выравнивание */
    align-items: center;     /* вертикальное выравнивание */
    gap: 40px;
}
nav a,
nav img,
nav button {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-family: 'PixelifySansRegular', sans-serif;
    transition: text-shadow 0.3s ease; /* Плавная анимация для тени */
}
nav a:hover {
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Откидывает тень с 25% прозрачностью */
}
nav form {
    margin: 0;
}
nav button {
    background: none;
    border: none;
    cursor: pointer;
}
