/*----------ОБЩИЕ НАСТРОЙКИ----------*/
@font-face {
font-family: "PixelifySansRegular";
src: url("../fonts/PixelifySansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    margin: 0;
    background-color: white;
}
body::-webkit-scrollbar {
    display: none;            /* Для Chrome, Safari и других WebKit-браузеров */
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
/*----------БЛОК НАВИГАЦИИ----------*/
header {
    width: 95%;
    height: 65px;
    background-color: #212121;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin: 0 auto 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
header nav a {
    font-family: 'PixelifySansRegular', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: text-shadow 0.4s ease; /* Плавная анимация */
}
header nav a:hover {
    text-shadow: 0 0 10px white, 0 0 20px white;
}
header nav svg {
    transition: filter 0.3s ease;
}
header nav svg:hover {
    filter: drop-shadow(0 0 10px white);
}
/*----------СТРАНИЦА ЛИЧНОГО КАБИНЕТА----------*/
.profile-page-wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.profile-page-container {
    font-family: 'PixelifySansRegular', sans-serif;
    margin-top: 30px;
    padding: 20px;
    background-color: #212121;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.profile-page-title {
    text-transform: uppercase;
    font-size: 28px;
    margin: 0 0 10px 0;
}
.profile-page-discussion{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-family: 'PixelifySansRegular', sans-serif;
    max-width: 500px;
    max-height: 400px;
    margin-top: 30px;
    padding: 20px;
    background-color: #212121;
    border-radius: 20px;
    color: #fff;
}
.profile-page-discussion-a{
    text-decoration: none;
    color: white;
    transition: text-shadow 0.4s ease; /* Плавная анимация */
}
.profile-page-discussion-a:hover{
    text-shadow: 0 0 5px white, 0 0 10px white;
}
.profile-page-main {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.profile-page-avatar {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
}
.profile-page-info-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-page-info-block p {
    font-size: 24px;
    color: #777;
    margin: 0;
}
.profile-page-field label {
    display: block;
    font-size: 24px;
    margin-bottom: 4px;
}
.profile-page-input {
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    padding: 3px;
    width: fit-content;
    height: auto;
}
.profile-page-input[readonly] {
    opacity: 0.6;
}
.profile-page-edit-btn {
    font-family: 'PixelifySansRegular', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    width: fit-content;
    padding: 5px 10px;
    height: auto;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.profile-page-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-page-save-btn {
    font-family: 'PixelifySansRegular', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
.profile-page-logout-form {
    margin-top: 20px;
}
.profile-page-logout-btn {
    font-family: 'PixelifySansRegular', sans-serif;
    font-size: 20px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}
.profile-page-logout-btn:hover {
    animation: shake 0.4s;
}
.profile-page-logout-wrapper {
    display: flex;
    justify-content: flex-end;
}
.hidden {
    display: none;
}
/*----------СТРАНИЦА ВХОДА и РЕГИСТРАЦИИ----------*/
.auth-container {
    width: 400px;
    background-color: #212121;
    border-radius: 20px;
    margin: 30px auto;
    padding: 20px;
    color: white;
    font-family: 'PixelifySansRegular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.auth-title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.auth-field {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.auth-input:invalid {
    border-color: red;
}

.auth-input:valid {
    border-color: #28a745;
}

.auth-button-wrapper {
    display: flex;
    justify-content: center;
}

.auth-button {
    font-family: 'PixelifySansRegular', sans-serif;
    padding: 10px 20px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.auth-button:hover {
    box-shadow: 0 0 10px #999, 0 0 20px #999;
}

.auth-link {
    color: #777;
    text-decoration: none;
    font-size: 18px;
}

.auth-link:hover {
    text-shadow: 0 0 5px #999;
}

.auth-warning {
    color: red;
    font-size: 14px;
    margin: 0 auto;
}
/* ----------СТАТЬИ---------- */
.article-link {
    text-decoration: none;
    color: inherit;
}
.articles-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
    box-sizing: border-box;
}
.article-card-horizontal {
    display: flex;
    width: 800px;
    height: 280px;
    background-color: #212121;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.article-image-horizontal {
    width: 400px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    background-color: #ccc; /* Заглушка с серым фоном */
    background-image: url('/public/assets/images/main-page2.png'); /* Заглушка, если фото не найдено */
    background-size: cover;
    background-position: center;
}

.article-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.article-title {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

.article-description {
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-text {
    color: #ccc;
    margin-bottom: 20px;
    line-height: 1.5;
}

.article-meta-horizontal {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #777;
}
/* ---------- ФОРМА ПОИСКА И ФИЛЬТРАЦИИ СТАТЕЙ ---------- */

.search-and-filter {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #212121; /* Темный фон */
    border-radius: 10px; /* Закругленные края */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Расстояние между элементами формы */
}

.search-and-filter form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0;
}

.search-and-filter input[type="text"],
.search-and-filter select {
    padding-left: 5px;
    height: 40px; /* Уточнение высоты */
    width: 300px; /* Ширина поля поиска */
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.search-and-filter select {
    padding: 0;
    width: 200px; /* Ширина выпадающего списка */
}
.articles-button{
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.articles-button:hover {
    box-shadow: 0 0 10px #999, 0 0 20px #999;
}
/*----СТРАНИЦА СТАТЬИ----*/
.article-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #212121;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 20px;
    width: 80%;
    color: white;
}

.header-block h1 {
    margin-top: 0;
    color: white;
    font-size: 2rem;
}

.meta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #777;
}

.meta::before {
    content: "|";
    display: none;
}

.meta span::before {
    content: "|";
    display: inline-block;
    margin-right: 6px;
    color: #777;
}

.meta span:first-child::before {
    display: none;
}

.content-block {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    align-items: flex-start;
}
.image-wrapper img {
    width: 500px;
    height: auto;
    border-radius: 5px;
}
.text-wrapper {
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
}
/*----СТРАНИЦА СТАТЬИ----*/
.comments-container {
    background-color: #212121;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
}
.comments-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    text-align: left;
}
.comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.comment-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid #444;
}
.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}
.comment-body p {
    margin: 0;
    color: white;
    word-wrap: break-word;
}
.comment-actions {
    margin-top: 5px;
}
.comment-actions form,
.comment-actions a {
    margin-right: 10px;
}
.btn-delete {
    background: none;
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}
.btn-delete:hover {
    color: white;
}
.btn-edit {
    background: none;
    color: #777;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.btn-edit, .btn-delete{
    padding: 0;
}
.btn-edit:hover {
    color: white;
}
/* Блок формы написания комментария */
.comment-form-container {
    margin-top: 10px;
}
.comment-input {
    width: 100%;
    min-height: 30px;
    max-height: 150px;
    resize: none;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 14px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.comments-button {
    padding: 10px 20px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.articles-button-save{
    padding: 0;
    margin-right: 10px;
    background: none;
    transition: all 0.3s ease;
    font-size: 14px;
    cursor: pointer;
    color: green;
    border: none;
}
.action-buttons a{
    text-decoration: none;
    color: #444;
    transition: all 0.3s ease;
}
.articles-button-save:hover{
    color: white;
}
.action-buttons a:hover{
    color: white;
}
.no-comments{
    color: white;
}
